/* IE 9 does not support @font-face within @media */
/*@media all and (min-width:768px) {*/
  @font-face{
    font-family:ng;
    src:url(NanumGothic.eot);
    src:local(※), url(NanumGothic.woff) format('woff');
  }
/*}*/
/*[출처] 나눔폰트 웹서버에서 적용하는 방법 |작성자 다시쓴다*/
#title{
  height : 20px;
  margin : 10px;
  font-family : "ng";
  font-size : 20pt;
}

.bar{
  float : left;
  width : 200px;
  height : 380px;
  margin : 20px;
  background-color : pink;
}


.plate{
  position : relative;
  height : 40px;
  margin : 10px;
  background-color : black;
  color : white;
  font-size : 20pt;
  text-align:center;
  font-family : "ng";
  padding-top : 10px;
}

#status{
  height : 20px;
  width : 720px;
  margin : 10px;
  font-family : "ng";
  font-size : 20pt;
  text-align : center;
  clear : both;
}
