body{height : 100%; margin : 0; padding : 0;}
#backg{
  width : 100%;
  height : 100%;
  position : fixed;
  top:0;
  left:0;
}
#content{
  position:relative;
  z-index:1;
  padding:10px;
}
.youchat{
  width  : 100%;
  height : auto;
  margin : 15px 5px;
  overflow : hidden;
}
.youprofile{
  float : left;
  /*width : 1.5%;*/
  height : 42px;
  margin : 5px;
}
.youcontent{
  float : left;
  height : auto;
  width : 80%;
  margin  : 0;
  padding : 0;
}
.name{
  height : 10px;
  font-weight : bold;
  font-size : 9pt;
}
.youtext{
  float : left;
  position : relative;
  /*top : 10px;
  left : 10px;*/
  margin : 10px 0px 5px 10px;
  height : auto;
  padding : 5px 9px 5px 9px;
  width : auto;
  max-width : 70%;
  font-size : 10pt;
  font-family:"나눔고딕";
  /*text-align:left;*/
  background-color : white;
  border-radius : 3px;
  z-index : 2;
  box-shadow: 5px 5px black;
  word-wrap : break-word
}
.youextra{
  float : left;
  position : relative;
  /*top : 16px;
  left : 10px;
  margin-left : -5px;*/
  margin : 16px 0px 0px 0px;
  height : auto;
  padding : 3px 5px 3px 5px;
  width : 80px;
  font-size : 5pt;
  background-color : #5C7A99;
  border-radius : 3px;
  z-index : 1;
 /* color : white;*/
  opacity : 0.6;
}
.youtime{
  float : left;
  margin : 0;
  padding : 0 5px 0 5px;
  font-size : 5pt;
  color : white;
}
.younum{
  float : right;
  margin : 0;
  padding : 0;
  font-size : 5pt;
  color : yellow;
}
.mechat{
  float : right;
  width  : 100%;
  height : auto;
  margin : 15px 5px;
  overflow : hidden;
}

.mecontent{
  float : right;
  height : auto;
  width : 80%;
  margin  : 0;
  padding : 0;
}
.metext{
  float : right;
  position : relative;
 /* top : 10px;
  right : 10px;*/
  margin : 10px 10px 5px 0px; 
  height : auto;
  padding : 5px 9px 5px 9px;
  width : auto;
  max-width : 70%;
  font-size : 10pt;
  font-family:"나눔고딕";
  /*text-align:left;*/
  background-color : yellow;
  border-radius : 3px;
  z-index : 2;
  box-shadow: -5px 5px black;
  word-wrap : break-word
}
.meextra{
  float : right;
  position : relative;
 /* top : 16px;
  right : 10px;
  margin-right : -5px;*/
  margin : 16px 0px 0px 0px;
  height : auto;
  padding : 3px 5px 3px 5px;
  width : 80px;
  font-size : 5pt;
  background-color : #5C7A99;
  border-radius : 3px;
  z-index : 1;
  color : white;
  text-align : right;
  opacity : 0.6;
}
.metime{
  float : right;
  margin : 0;
  padding : 0 5px 0 5px;
  font-size : 5pt;
  color : white;
}
.menum{
  float : left;
  margin : 0;
  padding : 0;
  font-size : 5pt;
  color : yellow;
}
.cuttext{
  float : left;
  margin-top : 10px;
  margin-right : 10%;
  margin-bottom : 10px;
  margin-left : 10%;
  height : auto;
  width : 80%;
  border-radius : 6px;
  background-color : yellow;
  font-size : 8pt;
  font-family : "나눔고딕";
  text-align : center;
  padding : 6px;
  opacity : 0.6;
  font-weight : bold;
}
.youemoticon{
  float : left;
  position : relative;
  /*top : 10px;
  left : 10px;*/
  margin : 10px 0px 5px 10px;
  height : auto;
  padding : 5px 9px 5px 9px;
  width : auto;
  max-width : 70%;
  font-size : 10pt;
  font-family:"나눔고딕";
  /*text-align:left;*/
  z-index : 2;
}
